services:
  - type: web
    name: global-chat-backend
    runtime: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: ADMIN_API_SECRET
        sync: false
